@page "/privacy"

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <h1>Privacy Policy</h1>
            <p class="text-muted">Last Updated: April 2026</p>
            <hr />
            
            <p>At <b>SeleniumEduApp.com</b>, we prioritize the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by our website and how we use it.</p>

            <h4>Log Files</h4>
            <p>Like many other websites, we follow a standard procedure of using log files. These files log visitors when they visit websites. This is part of hosting services' analytics.</p>

            <h4>Google DoubleClick DART Cookie</h4>
            <p>Google is one of the third-party vendors on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to our site and other sites on the internet.</p>

            <h4>Our Advertising Partners</h4>
            <p>Some of the advertisers on our site may use cookies and web beacons. Our primary advertising partner is <b>Google AdSense</b>. Each of our advertising partners has its own Privacy Policy for its policies on user data.</p>

            <h4>Consent</h4>
            <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
        </div>
    </div>
</div>